.app {
  width: 100vw;
  height: 100vh;
  background: #444;
}


.animation-button {
  background: #000000;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.animation-button:hover {
  background: #333333;
}

.animation-button.active {
  background: #dc3545;
} 